<div class="col-md-6">
  <%= bootstrap_form_for [@user, @idea] do |f| %>
    <%= f.collection_select :category_id, @categories,:id, 
    :name, include_blank: false %>
    <%= f.text_area :content %>
    <%= f.submit %>
  <% end %>
</div>