<h2>Edit Your Account Information</h2>

<div class="container">
  <%= render partial: "form" %>
</div>

<div class="container">
  <%= link_to "Delete Account", user_path(@user), method: "delete", class: "btn btn-danger",
  data: {confirm: "Are you sure you want to delete your account?"} %>
</div>

